<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/template.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/facultyandstaff.css">
</head>

<body>
    <% include header.ejs %>
        <div id="content-body">

            <h1>
                <%= title %>
            </h1>
            <div id="img-wrap">

                <% if (typeof imageUrl !=='undefined' ) { %>

                    <img src=<%=imageUrl %>
                    alt="">

                    <% } %>
            </div>

            <div id="description">


                <% if (typeof paragraphOne !=='undefined' ) { %>
                    <p>
                        <%= paragraphOne %>
                    </p>
                    <% } %>

                        <% if (typeof paragraphTwo !=='undefined' ) { %>w
                            <p>
                                <%= paragraphTwo %>
                            </p>
                            <% } %>


                                <% if (typeof paragraphThree !=='undefined' ) { %>
                                    <p>
                                        <%= paragraphThree %>
                                    </p>
                                    <% } %>


                                        <% if (typeof paragraphFour !=='undefined' ) { %>
                                            <p>
                                                <%= paragraphFour %>
                                            </p>
                                            <% } %>

                                                <% if (typeof paragraphFive !=='undefined' ) { %>
                                                    <p>
                                                        <%= paragraphFive %>
                                                    </p>
                                                    <% } %>
            </div>



            <!-- in this he wychscc.ejs page will render here and  -->
            <% if (typeof whyhcc !=='undefined' ) { %>
                <% include whyhcc.ejs %>
                    <%= whyhcc %>
                        <% } %>


                            <!-- addding description on whyhscc page -->


                            <% if (typeof quote !=='undefined' ) { %>
                                <p>
                                    <%= quote %>
                                </p>
                                <% } %>

                                    <% if (typeof whyhccparagraphone !=='undefined' ) { %>
                                        <p>
                                            <%= whyhccparagraphone %>
                                        </p>
                                        <% } %>

                                            <% if (typeof whyhccparagraphtwo !=='undefined' ) { %>
                                                <p>
                                                    <%= whyhccparagraphtwo %>
                                                </p>
                                                <% } %>





                                                    <!-- including faculty and staff page here -->

                                                    <% if (typeof isFacultyPeople !=='undefined' ) { %>
                                                        <% include facultyandstaff.ejs %>
                                                            <% } %>



                                                                <!-- footer  -->
                                                                <% include footer.ejs %>
        </div>

        <script src="/javascripts/template.js"></script>
</body>

</html>