<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>


    <link rel="stylesheet" href="/stylesheets/hseb.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <% include header.ejs %>






        <div id="hseb">

            <h1>
                <%= title %>
            </h1>

            <div id="img-wrap">
                <img src=<%= imageUrl %> alt="">
            </div>

            <div id="description">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis adipisci quo aperiam minima
                    quam aspernatur quia harum officia ipsum, saepe accusantium repudiandae impedit magni debitis. Quod
                    porro consequatur et molestiae?
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam beatae labore perferendis ratione
                    voluptatibus dolorum, quae nisi consequuntur quas rerum a non earum fuga quo sapiente sit. Corporis,
                    sint modi.
                </p>
            </div>

            <div id="course-structure">
                <h2>Course Structure</h2>
                <table>
                    <tr>
                        <th>
                            Grade <%= grade11 %>
                        </th>
                        <th>
                            Grade <%= grade12 %>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <%= compulsary %>
                        </th>
                        <th>
                            <%= compulsary %>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <%= subone11 %>
                        </td>
                        <td>
                            <%= subone12 %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= subtwo11 %>

                        </td>
                        <td>
                            <%= subtwo12 %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= subthree11 %>

                        </td>
                        <td>
                            <%= subthree12 %>

                        </td>
                    </tr>
                    <tr>
                        <th>
                            <%= optional11 %>

                        </th>
                        <th>
                            <%= optional12 %>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <%= subfour11 %>

                        </td>
                        <td>
                            <%= subfour12 %>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= subfive11 %>
                        </td>
                        <td>
                            <%= subfive12 %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= subsix11 %>
                        </td>
                        <td>
                            <%= subsix12 %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= subseven11 %>
                        </td>
                        <td>
                            <%= subseven12 %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= subeight11 %>
                        </td>
                        <td>
                            <%= subeight12 %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= subnine11 %>
                        </td>
                        <td>
                            <%= subnine12 %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= subten11 %>
                        </td>
                        <td>
                            <%= subten12 %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= subeleven11 %>
                        </td>
                        <td>
                            <%= subeleven12 %>
                        </td>
                    </tr>

                </table>
            </div>
        </div>











        <% include footer.ejs %>
</body>

</html>